---
import { Image } from 'astro:assets';

import type { Tables } from '@config/supabase.types.ts';

import H1 from '@components/base/H1.astro';
import Section from '@components/base/Section.astro';
import H2 from '@components/base/H2.astro';

interface Props {
  campaign: Tables<'campaigns'>;
}

const { campaign } = Astro.props;
const imageSrc = `${campaign.image_link}?q=80&w=700&auto=format&fit=crop`;

const dateOptions: Intl.DateTimeFormatOptions = {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};
const dateISOString = new Date(campaign.created_at).toLocaleDateString(
  'en-US',
  dateOptions
);
---

<div class='flex flex-col gap-2'>
  <H1>{campaign.title}</H1>
  <p class='text-xl'>{campaign.description}</p>

  <Image
    src={imageSrc}
    width={700}
    height={394}
    alt={campaign.title}
    class='w-full object-cover'
  />
  <p class='text-sm self-end'>
    Created at: <span class='text-gray-600'>{dateISOString}</span>
  </p>
</div>

<Section>
  <H2>Story</H2>
  <div class='prose prose-lg'>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos deserunt
      possimus quaerat porro harum dicta libero vero molestias rem. Quae,
      ratione! Alias mollitia architecto fugiat natus earum minima repellat
      excepturi.
    </p>
    <p>
      Quos inventore, suscipit eligendi nihil ipsa atque aperiam quidem sapiente
      iure dolorem iusto obcaecati, molestiae laborum architecto eveniet dolores
      voluptas sint voluptates, impedit repudiandae quisquam! Soluta illum alias
      excepturi officiis.
    </p>
    <p>
      Eius provident totam perspiciatis aliquam minima laborum natus commodi
      modi quos esse, doloremque odio aperiam! Cupiditate quae adipisci, nobis
      doloremque necessitatibus quos voluptatum minima. Veritatis quam
      temporibus unde illum deleniti.
    </p>
    <p>
      Quibusdam distinctio nesciunt ab numquam molestias inventore et ipsam quae
      consectetur architecto sunt est id, suscipit reiciendis minima. Ut,
      architecto perferendis! Sit quas, porro illum eaque dolore impedit
      necessitatibus! Eveniet.
    </p>
  </div>
</Section>
