---
import H2 from '@components/base/H2.astro';
import type { Tables } from '@config/supabase.types.ts';
import { getJson } from '@services/fetchAPI';

interface Props {
  campaign: Tables<'campaigns'>;
}
const { campaign } = Astro.props;

const donors: Tables<'donors'>[] = await getJson(
  `${Astro.url.origin}/api/campaign/${campaign.id}/donors`
);

const donorsNb = donors.length;

function calculateDaysFromDate(givenDate: string): number {
  const providedDate = new Date(givenDate);
  const today = new Date();
  const differenceInMilliseconds = today.getTime() - providedDate.getTime();
  const differenceInDays = Math.floor(
    differenceInMilliseconds / (1000 * 60 * 60 * 24)
  );
  return differenceInDays;
}
---

<div class='p-8'>
  <div class='flex justify-between'>
    <H2>Supporters</H2>
    <span>{donorsNb}</span>
  </div>

  <ul class='mt-8 flex flex-col gap-2'>
    {
      donors.map((donor) => (
        <li class='flex gap-8 items-center py-4'>
          <div class='h-12 w-12 tracking-tighter rounded-full bg-gray-200 grid justify-center items-center uppercase'>
            <p>
              {donor.first_name?.charAt(0)}
              {donor.last_name?.charAt(0)}
            </p>
          </div>
          <div class='flex flex-col gap-2'>
            <p class='text-lg'>
              {donor.first_name} {donor.last_name}
            </p>
            <p>
              <span class='font-bold '>{donor.amount}$</span>
              <span class='text-gray-400'>•</span>{' '}
              {calculateDaysFromDate(donor.created_at) > 0
                ? `${calculateDaysFromDate(donor.created_at)} days ago`
                : 'today'}
            </p>
          </div>
        </li>
      ))
    }
  </ul>
</div>
