---
import type { Tables } from '@config/supabase.types.ts';

import H2 from '@components/base/H2.astro';
import { Image } from 'astro:assets';

interface Props {
  campaign: Tables<'campaigns'>;
}

const { campaign } = Astro.props;
const imageSrc = `${campaign.image_link}?q=80&w=700&auto=format&fit=crop`;
---

<a
  href={`/campaign/${campaign.id}`}
  class='bg-black text-base lg:text-2xl text-white flex-1 hover:bg-green-500'
>
  <div class='w-full'>
    <Image
      src={imageSrc}
      width={700}
      height={394}
      alt={campaign.title}
      class='w-full object-cover border-b border-gray-500'
    />
  </div>
  <div class='p-8'>
    <H2>{campaign.title}</H2>
    <p>{campaign.description}</p>
    <p
      class='mt-4 text-sm md:text-base px-3 py-1 bg-white text-gray-800 rounded max-w-fit'
    >
      Goal: {campaign.goal}$
    </p>
  </div>
</a>
