---
import { Image } from 'astro:assets';

import type { Tables } from '@config/supabase.types.ts';

import H1 from '@components/base/H1.astro';

interface Props {
  campaign: Tables<'campaigns'>;
}

const { campaign } = Astro.props;
const imageSrc = `${campaign.image_link}?q=80&w=700&auto=format&fit=crop`;

const dateOptions: Intl.DateTimeFormatOptions = {
  weekday: 'long',
  year: 'numeric',
  month: 'long',
  day: 'numeric',
};
const dateISOString = new Date(campaign.created_at).toLocaleDateString(
  'en-US',
  dateOptions
);
---

<div class='flex flex-col gap-2'>
  <H1>{campaign.title}</H1>
  <p class='text-xl'>{campaign.description}</p>

  <Image
    src={imageSrc}
    width={700}
    height={394}
    alt={campaign.title}
    class='w-full object-cover'
  />
  <p class='text-sm self-end'>
    Created at: <span class='text-gray-600'>{dateISOString}</span>
  </p>
</div>
