---
import type { Tables } from '@config/supabase.types.ts';
import { getJson } from '@services/fetchAPI';

import Layout from '@layouts/Layout.astro';
import CampaignDetails from '@components/campaign/CampaignDetails.astro';
import CampaignQuestions from '@components/campaign/CampaignQuestions.astro';
import CampaignProgress from '@components/campaign/react/CampaignProgress.tsx';
import CampaignDonors from '@components/campaign/CampaignDonors.astro';
import CampaignForm from '@components/campaign/react/CampaignForm.jsx';
import CampaignStory from '@components/campaign/CampaignStory.astro';

const { id } = Astro.params;

const campaign: Tables<'campaigns'> = await getJson(
  `${Astro.url.origin}/api/campaign/${id}`
);
---

<Layout title={campaign.title || 'Campaign'}>
  <div class='flex flex-col lg:flex-row gap-8'>
    <div>
      <CampaignDetails {campaign} />
      <CampaignStory />
      <CampaignQuestions {campaign} />
    </div>

    <div class='w-full lg:w-1/2 shadow-xl border rounded'>
      <CampaignProgress client:only='react' {campaign} />
      <CampaignForm client:only='react' />
      <CampaignDonors {campaign} />
    </div>
  </div>
</Layout>
