---
import type { Tables } from '@config/supabase.types.ts';
import { getJson } from '@services/fetchAPI';

import Layout from '@layouts/Layout.astro';
import CampaignDetails from '@components/campaign/CampaignDetails.astro';
import CampaignQuestions from '@components/campaign/CampaignQuestions.astro';
import CampaignProgress from '@components/campaign/react/CampaignProgress.tsx';
import CampaignDonors from '@components/campaign/CampaignDonors.astro';
import CampaignForm from '@components/campaign/react/CampaignForm.jsx';
import CampaignStory from '@components/campaign/CampaignStory.astro';

const { id } = Astro.params;

const campaign: Tables<'campaigns'> = await getJson(
  `${Astro.url.origin}/api/campaign/${id}`
);
---

<Layout title={campaign.title || 'Campaign'}>
  <div class='grid md:gap-4 md:grid-cols-2 lg:grid-cols-3 xl:gap-8'>
    <div class='contents md:grid md:grid-cols-1 lg:col-span-2'>
      <div class='order-1 mb-8 md:mb-0'>
        <CampaignDetails {campaign} />
      </div>
      <div class='order-4'><CampaignStory /></div>
      <div class='order-5'><CampaignQuestions {campaign} /></div>
    </div>
    <div class='contents md:grid md:grid-cols-1 border rounded shadow-xl'>
      <div
        class='order-2 shadow-xl md:shadow-none border-t border-s border-e md:border-none'
      >
        <CampaignProgress {campaign} client:only='react' />
      </div>
      <div class='order-3 shadow-xl md:shadow-none border md:border-none'>
        <CampaignForm client:only='react' />
      </div>
      <div class='order-6 shadow-xl md:shadow-none border md:border-none'>
        <CampaignDonors {campaign} />
      </div>
    </div>
  </div>
</Layout>
