---
import { getJson } from '@services/fetchAPI';
import type { Tables } from '@config/supabase.types.ts';

import H1 from '@components/base/H1.astro';
import H2 from '@components/base/H2.astro';
import Layout from '@layouts/Layout.astro';
import CTALink from '@components/links/CTALink.astro';

const campaigns: Tables<'campaigns'>[] = await getJson(
  `${Astro.url.origin}/api/campaigns`
);
const donors: Tables<'donors'>[] = await getJson(
  `${Astro.url.origin}/api/donors`
);

const totalAmountRaised = donors.reduce(
  (sum, donor) => (sum += donor.amount || 0),
  0
);

const totalGoal = campaigns.reduce(
  (sum, campaign) => (sum += campaign.goal || 0),
  0
);

const percentRaised = Math.floor((totalAmountRaised * 100) / totalGoal);
---

<Layout title='About'>
  <div class='prose prose-lg my-16'>
    <H1>About</H1>

    <p>
      Welcome to the Medito community, where meditation becomes accessible to
      all through your support and generosity. Our fundraising project aims to
      enhance the meditative experience on the Medito app, a free meditation
      application designed to help everyone find inner peace.
    </p>
    <H2 id='our-mission'>Our Mission</H2>
    <p>
      Our mission is simple yet powerful: to make meditation accessible to all,
      without financial barriers. With your help, we can continue to improve and
      expand the Medito app, providing a valuable resource for mental health and
      well-being.
    </p>
    <H2 id='how-you-can-contribute'>How You Can Contribute</H2>
    <ul>
      <li>
        <p>
          <strong>Make a Donation:</strong> Every contribution, big or small, brings
          us closer to our common goal. Your donation will support the ongoing development
          of the app, allowing more people to benefit from meditation.
        </p>
      </li>
      <li>
        <p>
          <strong>Explore FAQs:</strong> To learn more about our initiative and how
          your support makes a difference, check out our Frequently Asked Questions
          section.
        </p>
      </li>
      <li>
        <p>
          <strong>Discover Rewards:</strong> We’ve prepared exclusive rewards to
          express our gratitude to our generous donors. Explore them and join our
          support circle.
        </p>
      </li>
    </ul>

    <div class='p-6 border-t border-b'>
      <p class='text-center'>
        <strong>${totalAmountRaised}</strong> of <strong>${totalGoal}</strong> raised
        so far.
      </p>
      <div class='bg-gray-200 h-2 rounded-full mt-2'>
        <div
          class='bg-green-500 h-full rounded-full'
          style=`width:${percentRaised}%`
        >
        </div>
      </div>
      <p class='text-center text-green-500 mt-2'>{percentRaised}% Complete</p>
    </div>
    <p>
      Join us on this meditative journey and contribute to building a more
      mindful and connected community.
    </p>
    <CTALink
      label='Make a Donation Now'
      href='/campaign'
      icon='CarbonArrowRight'
    />
  </div>
</Layout>
